[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'CutieIconsSet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram-desktop-svgrepo-com:before {
  content: "\e925";
}
.icon-preview-svgrepo-com:before {
  content: "\e933";
}
.icon-code-svgrepo-com:before {
  content: "\e935";
}
.icon-copy-svgrepo-com:before {
  content: "\e923";
}
.icon-moose_up_3159892:before {
  content: "\e931";
}
.icon-moose_down_3159892:before {
  content: "\e932";
}
.icon-repository-submodule-svgrepo-com:before {
  content: "\e924";
}
.icon-programming-code-svgrepo-com:before {
  content: "\e92e";
}
.icon-compile-compiler-script-code-config-svgrepo-com:before {
  content: "\e92f";
}
.icon-code-programing-symbol-svgrepo-com:before {
  content: "\e930";
}
.icon-android-svgrepo-com:before {
  content: "\e908";
}
.icon-bash02-svgrepo-com:before {
  content: "\e909";
}
.icon-cat-6-svgrepo-com:before {
  content: "\e90a";
}
.icon-chat-ui-message-svgrepo-com:before {
  content: "\e90b";
}
.icon-docker-svgrepo-com:before {
  content: "\e90c";
}
.icon-dog-5-svgrepo-com:before {
  content: "\e90d";
}
.icon-drupal-svgrepo-com:before {
  content: "\e90e";
}
.icon-email-svgrepo-com:before {
  content: "\e90f";
}
.icon-emoji-minecraft-simple-464-svgrepo-com:before {
  content: "\e910";
}
.icon-emoji-minecraft-square-409-svgrepo-com:before {
  content: "\e911";
}
.icon-faucet-svgrepo-com:before {
  content: "\e912";
}
.icon-fishing-spoon-svgrepo-com:before {
  content: "\e913";
}
.icon-github-svgrepo-com:before {
  content: "\e914";
}
.icon-headphones-ui-music-svgrepo-com:before {
  content: "\e915";
}
.icon-image-ui-photo-svgrepo-com:before {
  content: "\e916";
}
.icon-javascript-155-svgrepo-com:before {
  content: "\e917";
}
.icon-linux-svgrepo-com:before {
  content: "\e918";
}
.icon-motorbike-svgrepo-com:before {
  content: "\e919";
}
.icon-music-svgrepo-com:before {
  content: "\e91a";
}
.icon-mysql-svgrepo-com:before {
  content: "\e91b";
}
.icon-nginx-16-svgrepo-com:before {
  content: "\e91c";
}
.icon-nginx-svgrepo-com:before {
  content: "\e91d";
}
.icon-photo-camera-svgrepo-com:before {
  content: "\e91e";
}
.icon-php01-svgrepo-com:before {
  content: "\e91f";
}
.icon-php-elephant-svgrepo-com:before {
  content: "\e920";
}
.icon-symfony-svgrepo-com:before {
  content: "\e934";
}
.icon-postgresql-svgrepo-com:before {
  content: "\e921";
}
.icon-spring-boot-svgrepo-com:before {
  content: "\e922";
}
.icon-tulp:before {
  content: "\e926";
}
.icon-ubuntu-svgrepo-com:before {
  content: "\e927";
}
.icon-video-camera-ui-video-svgrepo-com:before {
  content: "\e928";
}
.icon-vue-16-svgrepo-com:before {
  content: "\e929";
}
.icon-whatsapp-128-svgrepo-com:before {
  content: "\e92a";
}
.icon-youtube-svgrepo-com:before {
  content: "\e92b";
}
.icon-cube-svgrepo-com:before {
  content: "\e92c";
}
.icon-java-svgrepo-com:before {
  content: "\e92d";
}
.icon-star_465318:before {
  content: "\e900";
}
.icon-smile_465312:before {
  content: "\e901";
}
.icon-settings_465321:before {
  content: "\e902";
}
.icon-mushroom_411156:before {
  content: "\e903";
}
.icon-lightbulb_14321650:before {
  content: "\e904";
}
.icon-heart_465323:before {
  content: "\e905";
}
.icon-clock_465280:before {
  content: "\e906";
}
.icon-pot_411151:before {
  content: "\e907";
}