:root {
  --color-dark: #191A23;
  --color-dark-alt: #2B2B2B;
  --color-light: #ffffff;
  --color-accent1: #1BAB90;
  --color-accent2: #2ecc71;
  --color-offtop1: #4A6560;
  --font-family-base: 'Iosevka Web', sans-serif;

  --transition-duration: 0.2s;

  --container-width: 990px;
  --container-padding-x: 60px;
  --container-padding-x-mobile: 30px;

  --section-padding-y: 40px;
  --section-padding-y-mobile: 40px;
}